<h1>User Profile</h1>

<p><b>Username:</b> <%= @user.username %></p>
<p><b>Email:</b> <%= @user.email %></p>
<p><b>Address:</b> <%= @user.address %></p>
<p><b>Telephone no:</b> <%= @user.tel_no %></p>
